/*00 BASE STYLES 
-----------------------------------------------------------------------------*/
html, body {
	color: #666666;
	height: 100%;
	font-family: 'Lato', sans-serif;
	background-color: #a6c4bf;
 }

.clear {
	clear: both;
}

/*----------------------------------------------------------------------------- 
=01 LAYOUT 
-----------------------------------------------------------------------------*/
.sidebar {
	float: right;
	padding: 25px;
    width: 15%;
    margin-top: 120px;
	margin-right: 20px;
	border-left: 1px solid gray;
}

.projectimages1 {
	float:left;
	text-align: center;
  	width: 75%; 	
}

/*----------------------------------------------------------------------------- 
=02A PROJECTS HOME PAGE
-----------------------------------------------------------------------------*/
.imgWrap img {
	height: 132px;
  	width: 225px;
 }
 .imgWrap {
	margin-top: 40px;
	padding: 4px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #C0C0C0;
    bottom: 0;
    position: relative;
  	height: 132px;
  	width: 225px;
  	display: inline-block;
  	background-color: white;
}

/*----------------------------------------------------------------------------- 
02B=PROJECT COLUMNS
-----------------------------------------------------------------------------*/
 /*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
/*@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}*/

/*----------------------------------------------------------------------------- 
02C=PROJECTS HOVER
-----------------------------------------------------------------------------*/


.imgDescription {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(350, 350, 350, 0.75);
  color: black;
  font-weight: bolder;
  visibility: none;
  opacity: 0;
  font: 13px/1.4 arial;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: .8;
  transition: opacity .25s ease-in-out;
}

/*----------------------------------------------------------------------------- 
03=SIDEBAR
-----------------------------------------------------------------------------*/
.sidebar img {
	margin-top: 25%;
	border-radius: 15px;
}

.widget {
	padding: 10px;
	padding-left: 10px;
}

.widget i {
	padding: 6px;
	font-size: 13px;
	color: black;
}

.copy {
	width: 80%;
	color: black;
	font-size: 13px;
}

.copy p {
	margin: 2px;
}


/*----------------------------------------------------------------------------- 
04=TITLE AND LINE
-----------------------------------------------------------------------------*/
.line {
	border-top: 1px solid gray;
	width: 100%;
	margin-bottom: 58px;
}

.footer {
	position: fixed;
	bottom:0;
	width:100%;
}

.title {
	font-weight: bolder;
	width:20%;
    position:fixed;
    bottom:0;
    padding-left: 25px;
    padding-bottom: 5px;
    font-size: 9px;
  
    }	

/*----------------------------------------------------------------------------- 
05=NAV
-----------------------------------------------------------------------------*/
.nav-container {
	font-weight: bolder;
	width: 80%;
	position:fixed;
	bottom: 0;
	right: 40px;
	text-decoration: none;
	margin-right: 3%; 
	margin-bottom: 10px;
}

.highlight {
	background-color: white; color: #696969;
}
.nav-container li:hover {
	cursor: pointer;
}

ul li {
	float: right;
	list-style: none;
	font-size: 15px;
	text-decoration: none;
	margin: 5px;
	display: block;
}

ul li a:hover {
	color:#663399;
	transition: color 0.4s ease-in;
}

/*----------------------------------------------------------------------------- 
=06A PROJECTS TITLE
-----------------------------------------------------------------------------*/
.projectheader h2 {
	font-weight: bolder;
	margin-left: 20px;
	padding: 30px;
	text-align: left;
	width: 100%;
	font-size: 28px;
}

.projectheader h2 {
	padding: 1%;	
	border-bottom: 0px solid gray;
}
/*----------------------------------------------------------------------------- 
=07 CONTACT
-----------------------------------------------------------------------------*/
.form {
	background: white;
}

.contactmain {
 	background: white;
 	border: 1px solid #C0C0C0;
  	padding: 2px;
  	max-height: 75%;
  	max-width: 35%;
  	padding-left: 2%;
  	margin-left: 25%;
  	margin-right: 25%;
  	margin-top: 2%;
}

input, textarea { 
    padding: 9px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    width: 90%; 
    max-width: 90%;
    background: #FFFFFF; 
} 
   
textarea { 
    width: 90%; 
    max-width: 90%;
    height: 80px; 
    line-height: 150%; 
} 
   
.form label { 
    margin-left: 10px; 
    color: #999999; 
    } 

.submit input { 
    width: auto; 
    padding: 9px 15px; 
    background:#C0C0C0; 
    border: 15px; 
    font-size: 14px; 
    color:#FFFFFF; 
    }

/*----------------------------------------------------------------------------- 
08=THANK YOU
-----------------------------------------------------------------------------*/
.hiddendiv {
	  border: solid 1px #E5E5E5;
	  width: 400px;
	  height: 60px;
	  text-align: center;
	  font-size: 17px; 
	  visibility: hidden;
	 
}
.hiddendiv a {
	width: auto; 
    padding: 2.25px 3.75px; 
    background:#C0C0C0; 
    border: 15px; 
    font-size: 14px; 
    color:#FFFFFF;
	float:right;
}
/*----------------------------------------------------------------------------- 
08A=RESPONSIVE 945px;
-----------------------------------------------------------------------------*/
@media(max-width: 945px){

.imgDescription {
  	top: 10px;
  	font: 8px/1.4 arial;
 }
 .imgWrap img {
	height: 88px;
  	width: 149px;
 }
 .imgWrap {
  	height: 88px;
  	width: 149px;

}
.widget i {
	padding: 4px;
}
}

/*----------------------------------------------------------------------------- 
09B=RESPONSIVE 700px;
-----------------------------------------------------------------------------*/
@media(max-width: 725px){

.imgDescription {
  	font: 8px/1.4 arial;
 }
 .imgWrap img {
	height: 80px;
  	width: 116px;
 }
 .imgWrap {
  	height: 80px;
  	width: 116px;

  }

 .projectimages1 {
 	width:400px;

  }

  .widget i {
	padding: 2px;
}
.title {
	font-size: 8px;

}
ul li {
	font-size: 8px;

}
.projectheader h2 {
	font-size: 20px;
}
  .copy {
	font-size: 12px;
}
}
/*----------------------------------------------------------------------------- 
09C=RESPONSIVE 581px;
-----------------------------------------------------------------------------*/
@media(max-width: 581px){
 
.contactmain {
	width: 80%;
	margin-left: 0px;
  	margin-right: 0px;
  	margin-top:0px;
  	max-height: 325px;
}

input, textarea {
	width: 80%;
	max-height: 40px;
}

.submit input { 
    padding: 9px 15px; 
    background:#C0C0C0; 
    border: 10px; 
    font-size: 9px; 
    }

 .sidebar {
	margin-top:0px;
	padding-top:0px;
}
.imgWrap img {
	height: 60px;
  	width: 77px;
 }

 .imgWrap {
	height: 60px;
  	width: 77px;
 }

.projectimages1 {
 	width:300px;

  }

  .contactmain {
  	margin-left: 0%;
  }
  .copy {
	font-size: 10px;
}
.widget i {
	padding: 0px;
	font-size: 10px;
}
}
/*----------------------------------------------------------------------------- 
09D=RESPONSIVE 454px;
-----------------------------------------------------------------------------*/
@media(max-width: 456px){
 .imgDescription {
  	font: 4px/1.4 arial;
 }
 .imgWrap img {
	height: 36px;
  	width: 58px;
 }

 .imgWrap {
	height: 36px;
  	width: 58px;
 }

.projectimages1 {
 	width:250px;

  }
 .mainpic img {
 	height:45px;
 	width:60px;
 }
.title {
	font-size: 6px;

}
ul li {
	font-size: 6px;

}
.projectheader h2 {
	font-size: 15px;
}
  
}
/*----------------------------------------------------------------------------- 
09E=RESPONSIVE MOBILE 394px
-----------------------------------------------------------------------------*/
@media(max-width: 394px){

.imgDescription {
  	font: 2px/1.4 arial;
 }
 .imgWrap img {
	height: 18px;
  	width: 29px;
 }

 .imgWrap {
	height: 18px;
  	width: 29px;
 }

.projectimages1 {
 	width:180px;

  }
}
/*----------------------------------------------------------------------------- 
09E=RESPONSIVE MOBILE 320px
-----------------------------------------------------------------------------*/

@media(max-width: 320px){
  
.contactmain {
	width: 80%;
	margin-left: 0px;
  	margin-right: 0px;
  	margin-top:0px;
  	max-height: 350px;
}

input, textarea {
	width: 80%;
	max-height: 50px;
}