
/*00 BASE STYLES 
-----------------------------------------------------------------------------*/
html, body {
	color: #696969;
	height: 100%;
	font-family: 'Lato', sans-serif;
 }
.clear {
	clear: both;
}
/*----------------------------------------------------------------------------- 
=01 LAYOUT 
-----------------------------------------------------------------------------*/
.sidebar {
	width: 250px;
	background: white;
	float: right;
	padding: 25px;
	}

.main {
	width: 750px;
	background: white;
	float:left;
	text-align: center;
}
/*----------------------------------------------------------------------------- 
02=MAIN
-----------------------------------------------------------------------------*/
/*.main img {
    min-width:100%;
    min-height:100%
}
/*----------------------------------------------------------------------------- 
03=SIDEBAR
-----------------------------------------------------------------------------*/
.sidebar {
	padding-top: 110px;
}

.sidebar img {
		border-radius: 15px ;
	}

.widget {
	padding-bottom:50px;
	padding: 10px;
}

.widget img {
	margin: 10px;
}

/*----------------------------------------------------------------------------- 
04=TITLE
-----------------------------------------------------------------------------*/
.title {
    width:250px;
    position:absolute;
    bottom:0;
    padding-bottom:25px;
    padding-left: 25px;
    }	

/*----------------------------------------------------------------------------- 
05=NAV
-----------------------------------------------------------------------------*/
.nav-container {
	width: 400px;
	position: fixed;
	right: 0;
	bottom: 0;
	padding-bottom: 30px;	
	padding-right: 15px;
	text-decoration: none; 

}
.highlight {
	background-color: gray; color: white;
}
.nav-container li:hover {
	cursor: pointer;
}

ul {
	padding-right: 0;
}

ul li {
	float: right;
	list-style: none;
	font-size: 18px;
	text-decoration: none;
}

ul li a {
	margin: 10px;
	padding: 10px;
	display: block;
}


ul li a:hover {
	color:#663399;
	transition: color 0.4s ease-in;
}
/*.line {
	border-bottom: solid 1px gray;
	width: 100%;
	}
/*----------------------------------------------------------------------------- 
=06 PROJECTS
-----------------------------------------------------------------------------*/
.projectheader h2 {
	padding: 30px;
	text-align: center;
}

.projectimages img {
	margin-top: 50px;
	padding: 8px;
	margin-left: 40px;
	margin-right: 40px;
	border: 1px solid #C0C0C0;
    bottom: 0;
}

.projecttitles1 {
	padding: 15px;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 12px;
	width:1000px;
	position: fixed;
	display:block;
}

/*----------------------------------------------------------------------------- 
=07 CONTACT
-----------------------------------------------------------------------------*/
.contactmain {
 	border: 1px solid #C0C0C0;
  	padding: 2px;
  	max-width: 500px;
  	padding-left: 30px;
  	margin-left: 250px;
  	margin-right: 250px;
  	margin-top: 45px;
}

input, textarea { 
    padding: 9px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    width: 200px; 
    background: #FFFFFF; 
    } 
   
textarea { 
    width: 400px; 
    max-width: 400px; 
    height: 100px; 
    line-height: 150%; 
    } 
   
.form label { 
    margin-left: 10px; 
    color: #999999; 
    } 

.submit input { 
    width: auto; 
    padding: 9px 15px; 
    background:#C0C0C0; 
    border: 15px; 
    font-size: 14px; 
    color:#FFFFFF; 
    }

/*----------------------------------------------------------------------------- 
08=THANK YOU
-----------------------------------------------------------------------------*/
.hiddendiv {
	  border: solid 1px #E5E5E5;
	  width: 400px;
	  height: 60px;
	  text-align: center;
	  font-size: 17px; 
	  visibility: hidden;
	 
}
.hiddendiv a {
	width: auto; 
    padding: 2.25px 3.75px; 
    background:#C0C0C0; 
    border: 15px; 
    font-size: 14px; 
    color:#FFFFFF;
	float:right;
}







